#header {
	background: url(./img/annie-spratt-bGdiuIyN3Rs-unsplash.jpg) center / cover no-repeat;
	font-family: "PT Serif";
}

#header .info {
	background-color: rgb(195,214,220, 0.6);
	color: white;
}

#header .start {
	background-color: rgb(34,120,81, 0.6);
	color: white;
}


section {
	height: 100vh;
}

body {
	font-family: "Nunito";	
}

.navbar a, .navbar li {
	font-size: 1.2rem;
	font-weight: 800;
	font-family: "Nunito";
}

.container .clients {
	font-size: 1.8rem;
}

#clients {
	font-size: 1.6rem;
}

#hero {
	color: white;
}

.navbar {
	background-color: rgb(195,214,220, 0.8);
}

#aboutMe {
	font-size: 10px;
	font-weight: 100;
	line-height: 2.0;
}

.lead {
	font-size: 1.0rem ;
}

